* {
	box-sizing: border-box; 
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}

div#carousel {
	width: 400px;
	height: 267px;
	overflow: hidden;
	border: 2px solid #000;
	position: absolute;
}

#carousel ol {
	width: 2000px;
	height: 267px;
	margin: 0;
	padding: 0;
	display: flex;
}

#carousel ol li {
	width: 400px;
	height: 267px;
	list-style: none;
}

#carousel #button1 {
	position: relative;
	bottom: 57%;
	right: -1px;
}

#carousel #button2 {
	position: relative;
    bottom: 69%;
    left: 365px;}

#carousel button {
	cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,0.5);
    border-style: none;
    display: none;
}

button:focus {
    outline: none;
}